#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  /* padding: 0em 1em; */
  width: 100%;
  height: 100%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  position: absolute;
  bottom: 0%;
  padding: 0em 1em;
}

.about {
  width: 25%;
  display: none
}

.project {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: -10px;
}

.stack {
  font-weight: light;
  font-size: 1em;
}

.nav-links-icons {
  display: flex;
  justify-content: space-between;
}

.link-icon {
  width: 24px;
  height: 24px;
  color: white;
}

.nav-links {
  width: 10%;
  padding-top: 2em;
}

.nav-links-header {
  display: none;
}

.projects a {
  text-decoration: none;
  color: white;
}

.head h1 {
  font-size: 3.125em;
  font-weight: lighter;
  margin-bottom: -15px;
}

.subhead p {
  font-size: 1.125em;
  font-weight: lighter;
  margin-bottom: -10px;

}

.subhead2 p {
  font-size: 1em;
}
